:root {
    --primarycolor: #292b2c;
    --secondarycolor: #292626;
    --tertiarycolor: rgb(65, 224, 16);
    --textcolor: #ffffff;
}

/* Google Fonts */;
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
    scroll-behavior: smooth;
  }

* {
    list-style: none;
}


body {
    overflow-x: hidden;
}

app {
    display: none;
}

#logo-animation {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    transform: all .5s ease;
}

#logo-animation img {
    width: 270px;
    height: 270px;
    animation: zoom 2s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    0% {
        transform: scale(1);
    }
}

#logo {
    width: 5rem;
    height: 5rem;
}

nav {
    letter-spacing: 2px;
}

#navbar {
    align-items: center;
    height: 5rem;
    font-size: 1rem;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
    animation: blinklink 5s ease-in-out infinite;
}

.nav-link {
    transition: all .5s ease;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--tertiarycolor) !important;
}


#mintbtn{
    border-style: none;
    background-color: var(--tertiarycolor);
     color: black;
     width: 70px;
    padding: 10px;
    margin-right: 7px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    transition: background-color .5s ease;
}



#mintbtn:hover {
    color: #ffffff;
    background-color: white;
    transform: translate(0);
}

a {
    transition:all .5s ease;
}

a:hover,
a:focus {
    transform: scale(1.05);
}


.dropdown-menu a{
    font-weight: 500;
    transform: scale(1);
}

  #fullpage::before {
    content: '';
    background-image: url(../DB27D6A2-1703-4ABA-ABD4-45D91DF6B5C5.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
} 

#fullpage {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: Little Alien;
    src: url(../Little\ Alien.ttf);
}
#fullpage h1 {
    font-family: Little Alien;
    font-size: 4rem;
    color: white;
    z-index: 1;
    text-align: center;
    text-shadow: 5px 5px 12px var(--tertiarycolor);
}

#up,
#jstshow {
    opacity: 0;
    transition: all 1s ease-in;

}

#up {
    transform: translateY(6rem);
}

#up.active {
    transform: translateY(2rem);
    opacity: 1;
}

#jstshow.active {
    opacity: 1;
    transform: translateY(2rem);
}


#collection-name {
    color: var(--textcolor);
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 5rem;
    animation: blinklink 3s ease-in-out infinite;
    animation-delay: 0.5s;

}

@keyframes blinklink {
    0% {
        text-shadow: 0px;
    }

    50% {
        text-shadow: 5px 5px 7px var(--tertiarycolor);
    }

    100% {
        text-shadow: 0px;
    }
}
#collection-sum {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;

}

#collection-link {
    text-decoration: none;
}

#collections {
    text-align: center;
    padding: 1.5rem 1.7rem;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.1);
    animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
    0% {
        box-shadow: 0px;
    }

    50% {
        box-shadow: 2px  2px 12px var(--tertiarycolor);
    }

    100% {
        box-shadow: 0px;
    }
}

.card-title {
    font-weight: 500;
    font-family: 'Anonymous Pros', monospace;
    font-size: 1.5rem;
    margin-bottom: -10px;
    color: var(--tertiarycolor);
}

.card-text {
    font-weight: 500;
}

#faq,
#introduction {
    text-align: center;
    margin-bottom: -20px;
}

#our-story {
    text-align: center;
    position: relative;
    padding: 1rem;
}


#introduction::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url('../stellar\ saurins\ bg\ test.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    opacity: 0.2;
    height: 100%;
}


#our-story > h3 {
    margin-bottom: 4rem;
    letter-spacing: 2px;
    text-shadow: 5px 5px 7px var(--tertiarycolor);
    position: relative;
}

#our-story .side {
    position: relative;
    opacity: 0;
    font-size: 1.1rem;
    font-weight: 900;
    transition: opacity 2s ease-in-out;
    font-family: 'Anonymous Pro', monospace;
}

#our-story .side.active {
    opacity: 1;
}
#introduction h5  {
    font-family:'Anonymous Pro', monospace;
    color: var(--textcolor);
    font-size: 1.2rem; 
    letter-spacing: 2px;
    padding: 2rem 0;
}

#introduction p{
    font-family:'Anonymous Pro', monospace;
    font-size: 1.1rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: var(--tertiarycolor);    
}

#faq h5  {
    font-family:'Open Sans', sans-serif;
    color: rgb(65, 224, 16);
    font-size: 1.2rem; 
    letter-spacing: 2px;
    padding: 2rem 0;
    text-shadow: 3px 3px 7px rgb(0, 0, 0);
}

#faq p{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 2px;
}

.reveal {
    position: relative;
    transform: translateY(70px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

#meet-the-team {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 500;
}

#meet-the-team > h3 {
    color: var(--textcolor);
    text-shadow: 5px 5px 6px var(--tertiarycolor);
}
#meet-the-team .card-title{
    padding-top: 1.2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;

}


#meet-the-team p {
    font-size: 1rem;
    margin: 5px 0;
    color: rgb(65, 224, 16);
}
.teamcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 12px;
    margin: 0 auto;
}

.teamcards .card {
    width: 250px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.1);
    box-shadow: 2px 2px 7px var(--tertiarycolor);
    margin: 0 auto;
    overflow-x: hidden;
}

 .teamcards img {
    padding: .8rem;
    border-radius: 20px;
    height: 250px;
    transition: transform 1s ease;
}

.teamcards img:hover {
    transform: scale(1.2);
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem ;
    padding-top:  3rem;
}

#socials img {
    height: 50px;
    width: 50px;
    margin-right: .5rem;
    background: white;
    border-radius: 50px;
    background-size: 50px;
    
}

#arrow {
    position: absolute;
    right: 1rem;
}

#footer {
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(65, 224, 16) !important;
    background-color: rgb(0, 0, 0, 0.1) !important;

}


@media (max-width: 1200px) {
     .nav-item{
        padding: 1rem;       
    }
    .teamcards {
        grid-gap: 30px;
    }
    .teamcards .card {
        width: 290px;
    }

    .teamcards .card img {
        height: 290px;
    }

}

@media (max-width: 720px) {

    .navbar-brand {
        text-align: center;
    }
    
    #logo {
        position: relative;
        margin-left: -1.1rem;
    }
    #our-story::before {
        background-repeat: repeat-y;
    }

    #fullpage h1 {
        font-size: 2.5rem;
    }

}

@media sreen and (max-width: 400px){
    #logo {
        width: 2rem;
        height: 2rem;
        margin-right: -2rem;
        padding: 1.5rem;
        
    }

    #our-story .side{
        font-size: 1rem;
    }

    .timeline p {
        font-size: 1rem;
    }

    #faq h5 {
        font-size: 1.2rem;
    }

    #faq p {
        font-size: 1rem;
    }

    #introduction h5 {
        font-size: 1.2rem;
    }

    #introduction p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 340px) {
    #logo {
        margin-left: -1.2rem;
        width: 5rem;
        height: 4rem;
        padding: 0;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    #collection-sum {
        display: flex;
        justify-content: center;
    }

    #collection-link {
        height: 350px;
        padding-bottom: 10px;
    }

    .card{
        width: 200px;
        height: 200px;
        margin: auto ;
    }

    .card-title h1 {
        font-size: 1rem;
    }

    #faq {
        text-align: center;
    }

    #faq h5 {
        font-size: 1rem;
        margin-left: 0;
        padding:2rem 0;
    }

    .teamcards .card {
        width: 250px;
        height: 380px;
    }
}


